<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style/base_template.css') }}">
    {% block style %}{% endblock %}
</head>
<body>
    {% include 'navigation_bar_template.html' %}
    <div class="template_mainDiv">
        <div class="template_leftDiv">
            {% include 'navigation_menu_template.html' %}
        </div>
        <div class="template_centerDiv">
            {% include 'products.html' %}
            {% block centerDiv %}{% endblock %}
        </div>
        <div class="template_rightDiv">
            {% block rightDiv %}{% endblock %}
        </div>
    </div>
    {% include 'footer_template.html' %}
</body>
</html>