{#<div class="navigation-menu">#}
{#    <div class="menuListDiv">#}
        <ul class="menuList">
            <li class="menuItem">
                <a
                    href=""
                >
                    Site 1
                </a>
            </li>
            <li class="menuItem">
                <a
                    href=""
                >
                    Site 2
                </a>
            </li>
            <li class="menuItem">
                <a
                    href=""
                >
                    Site 3
                </a>
            </li>
            <li class="menuItem">
                <a
                    href=""
                >
                    Site 4
                </a>
            </li>
            <li class="menuItem">
                <a
                    href=""
                >
                    Site 5
                </a>
            </li>
        </ul>
{#    </div>#}
{#</div>#}