<div class="wrapper">

{#    {% for product in products %}#}
        <div class="product-card">
            <img src="" class="product-image">
            <div class="product-title">

            </div>

        </div>
{#    {% endfor %}#}


    <div class="product-card">
            <img src="" class="product-image">
            <div class="product-title">

        </div>

    </div><div class="product-card">
        <img src="" class="product-image">
        <div class="product-title">

        </div>

    </div><div class="product-card">
        <img src="" class="product-image">
        <div class="product-title">

        </div>

    </div>
    <div class="product-card">
        <img src="" class="product-image">
        <div class="product-title">

    </div>

    </div>
    <div class="product-card">
        <img src="" class="product-image">
        <div class="product-title">

    </div>

    </div>
    <div class="product-card">
        <img src="" class="product-image">
        <div class="product-title">

        </div>

    </div>
    <div class="product-card">
        <img src="" class="product-image">
        <div class="product-title">

        </div>

    </div>


</div>